unidad6/PostigoJavier_ej5/PostigoJavier_ej5.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="inmobiliaria" type="inmobiliariaType"/>
  <xs:complexType name="agenciaType">
    <xs:sequence>
      <xs:element type="xs:string" name="correo_electronico"/>
      <xs:element type="xs:string" name="nombre"/>
      <xs:element type="xs:string" name="telefono"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agenciasType">
    <xs:sequence>
      <xs:element type="agenciaType" name="agencia"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="propietarioType">
    <xs:sequence>
      <xs:element type="xs:string" name="nombre"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="propietariosType">
    <xs:sequence>
      <xs:element type="propietarioType" name="propietario"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="propiedadType">
    <xs:sequence>
      <xs:element type="xs:string" name="nombre"/>
      <xs:element type="xs:string" name="num_pisos"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="propiedadesType">
    <xs:sequence>
      <xs:element type="propiedadType" name="propiedad"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pisoType">
    <xs:sequence>
      <xs:element type="xs:string" name="nombre"/>
      <xs:element type="xs:string" name="descripcion"/>
      <xs:element type="xs:string" name="precio"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pisosType">
    <xs:sequence>
      <xs:element type="pisoType" name="piso"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inmobiliariaType">
    <xs:sequence>
      <xs:element type="agenciasType" name="agencias"/>
      <xs:element type="propietariosType" name="propietarios"/>
      <xs:element type="propiedadesType" name="propiedades"/>
      <xs:element type="pisosType" name="pisos"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>